In [38]:
# utilizado para manejos de directorios y rutas
import os

# Computacion vectorial y cientifica para python
import numpy as np

# Librerias para graficación (trazado de gráficos)
from matplotlib import pyplot
from mpl_toolkits.mplot3d import Axes3D  # Necesario para graficar superficies 3D

# llama a matplotlib a embeber graficas dentro de los cuadernillos
%matplotlib inline

In [39]:
# usando la libreria pandas para la manipulacion y analisis de datos
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from datetime import datetime

In [40]:
#Carga de dataset para prediccion
data = pd.read_csv('datasets/adm_data.csv')

In [41]:
# Mostramos los datos de el dataset cargado
print(data)

     Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0             1        337          118                  4  4.5   4.5  9.65
1             2        324          107                  4  4.0   4.5  8.87
2             3        316          104                  3  3.0   3.5  8.00
3             4        322          110                  3  3.5   2.5  8.67
4             5        314          103                  2  2.0   3.0  8.21
..          ...        ...          ...                ...  ...   ...   ...
395         396        324          110                  3  3.5   3.5  9.04
396         397        325          107                  3  3.0   3.5  9.11
397         398        330          116                  4  5.0   4.5  9.45
398         399        312          103                  3  3.5   4.0  8.78
399         400        333          117                  4  5.0   4.0  9.66

     Research  Chance of Admit
0           1              0.92
1           1              0.76
2           1              0.72
3           1              0.80
4           0              0.65
..        ...               ...
395         1              0.82
396         1              0.84
397         1              0.91
398         0              0.67
399         1              0.95

[400 rows x 9 columns]

In [42]:
# Mostramos la informacion de los datos del dataset donde podemos ver un elemento tipo object
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4   SOP                400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.3 KB

In [43]:
# Realizamos la lectura de Datos
# x es igual a las primeras 8 columnas
# y es igual a la columna 9
X = data.iloc[:, :8]
y = data.iloc[:, 8]
m = y.size

In [44]:
# Mostramos los datos x
print(X)
print('*'*100)
print('*'*100)
print('*'*100)
# Mostramos los datos de la columna y
print(y)

     Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0             1        337          118                  4  4.5   4.5  9.65
1             2        324          107                  4  4.0   4.5  8.87
2             3        316          104                  3  3.0   3.5  8.00
3             4        322          110                  3  3.5   2.5  8.67
4             5        314          103                  2  2.0   3.0  8.21
..          ...        ...          ...                ...  ...   ...   ...
395         396        324          110                  3  3.5   3.5  9.04
396         397        325          107                  3  3.0   3.5  9.11
397         398        330          116                  4  5.0   4.5  9.45
398         399        312          103                  3  3.5   4.0  8.78
399         400        333          117                  4  5.0   4.0  9.66

     Research
0           1
1           1
2           1
3           1
4           0
..        ...
395         1
396         1
397         1
398         0
399         1

[400 rows x 8 columns]
****************************************************************************************************
****************************************************************************************************
****************************************************************************************************
0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
395    0.82
396    0.84
397    0.91
398    0.67
399    0.95
Name: Chance of Admit , Length: 400, dtype: float64

In [45]:
def normalEqn(X, y):

    theta = np.zeros(X.shape[1])

    theta = np.dot(np.dot(np.linalg.inv(np.dot(X.T,X)),X.T),y)

    return theta

In [46]:
# Calcula los parametros con la ecuación de la normal
theta = normalEqn(X, y)

# Muestra los resultados optenidos a partir de la aplicación de la ecuación de la normal
print('Theta calculado a partir de la ecuación de la normal: {:s}'.format(str(theta)));

# Estimar la posibilidad de admision con distintas caracteristicas

# Los datos de x son: [Serual n, puntuacion GRE, puntuacion TOEFL, Calificacion universitaria, declaracion de proposito, recomendacion, CGPA, Investigacion]
X_array = [1,310, 110, 3, 3, 3, 7, 1]
count = np.dot(X_array, theta)

print('El valor predecido para la posibilidad de admision (usando la ecuación de la normal) es: {:.4f}'.format(count))

Theta calculado a partir de la ecuación de la normal: [ 0.00014454 -0.00296935  0.00393109  0.02304314  0.00376048  0.02247292
  0.11881696  0.05748234]
El valor predecido para la posibilidad de admision (usando la ecuación de la normal) es: 0.5491